body, .ui.header, .ui.input > input
    font-family: $playfair-family !important

body
    width: 100wh
    height: 90vh
    color: #fff
    background: linear-gradient(-45deg, #E73C7E, #E73C7E, #EE7752, #EE7752)
    background-size: 400% 400%;

.main-content
    margin-right: 20%
    margin-left: 20%

.ui.center.aligned
    width: 100%;
    text-align: center;

.loading
    margin-top: 15%
    margin-left: 5%
    @include screen-size-tablet-max
        padding-left: 25%
        margin-top: 25%

.cursor.pointing
    cursor: pointer
    
.mt-15
    margin-top: 15% !important

.fs-23
    font-size: 23px !important

.center
    text-align: center

.float.right
    float: right
.underlined
    text-decoration: underline
    font-family: $playfair-family !important
    transition: all 0.05s ease;
    &:hover
        color: white !important
a
    cursor: pointer
.grey
    color: $light-grey !important
    
@keyframes Gradient 
	0% 
		background-position: 0% 50%
	
	50% 
		background-position: 100% 50%
	
	100% 
		background-position: 0% 50%
	
